@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

h1 {
  color: red;
  font-family: 'Lobster', cursive; 
}
